<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--
  This is the basic spring boot config. See:
  https://docs.spring.io/spring-boot/docs/current/reference/html/howto.html#howto-configure-logback-for-logging

  The console log pattern has been modified from the default to include request ID and user ID if present
  -->
  <property name="CONSOLE_LOG_PATTERN" value="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%15.15t] %-40.40logger{39} : %replace(%mdc - %msg){'  - ',' '}%n%ex" />
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

<!--  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--    <encoder>-->
<!--      <pattern>${CONSOLE_LOG_PATTERN}</pattern>-->
<!--    </encoder>-->
<!--  </appender>-->

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
